# Ignore build directories
build/
*/build/

# Ignore local properties (sensitive data like API keys)
local.properties

# Ignore IDE and system-specific files
.idea/
.vscode/
.gradle/
.settings/
*.iml

# Ignore temporary files created by your OS
*.log
*.swp
*.bak
*.tmp

# Ignore Android Studio specific files
.DS_Store
.gradle/

# Ignore compiled Java bytecode
*.class

# Ignore Maven and Gradle wrappers (if not using)
gradle-wrapper.jar
gradle-wrapper.properties

